* {
	margin: 0px;
	padding: 0px;
/*	border: 1px solid;*/
}

body {
	height: 100vh;
	display: grid;
	grid-template-columns: repeat(1fr);
	grid-template-rows: repeat(1fr);
	place-content: center;
	background: #003e49;
}

.container {
	width: 450px;
	height: 450px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	place-items: center;	
}

.square {
	width: 150px;
	height: 150px;
	border: none;
	color: #f2f7f9;
	font-size: 64px;
	background: #003e49;
}

.announcement {
	font-size: 24px;
	font-family: Helvetica, sans-serif;
	color: #f2f7f9;
	place-self: center;
	margin: 24px;
}

.center-column {
	border-left: 3px solid #eba200;
	border-right: 3px solid #eba200;
}

.center-row {
	border-top: 3px solid #eba200;
	border-bottom: 3px solid #eba200;	
}

.reset-container {
	display: grid;
	justify-items: end;
}

.reset {
	background: #eba200;
	font-size: 24px;
	font-family: Helvetica, sans-serif;	
	padding: 12px 24px;
	border: none;
	border-radius: 8px;
}